@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

@import url("https://webfontworld.github.io/amore/AritaBuri.css");

.buri {
  font-family: "AritaBuri";
}
.shLogo {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 113px;
  top: 169px;
}
.shLogo2 {
  width: 120px;
  height: 120px;
  left: 113px;
  top: 169px;
}
.sh-lettering {
  position: absolute;
  height: 125px;
  left: 5.33%;
  right: 5.33%;
  top: calc(50% - 125px / 2 + 103px);

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.App {
  min-height: 100vh;
}
.startBtn {
  position: absolute;
  width: 135px;
  height: 60px;
  left: calc(50% - 135px / 2);
  bottom: 34px;

  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.joinBtn {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/*태그 */
.sticky {
  position: sticky;
  top: 0px;
  z-index: 1055;
}

.menuBtn {
  position: fixed;
  opacity: 0;
  top: 10px;
  right: 40px;
  z-index: 1055;
  opacity: 1;
}

.gradientBack {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 237, 211, 0.82) 0%,
    rgba(244, 124, 124, 0.94) 100%
  );
}
